body {
  background: #020b18;
  color: #fff;
  font-family: sans-serif;
}

.container {
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
}

.logo {
  width: 120px;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border-radius: 10px;
  border: none;
}

button {
  background: cyan;
  font-weight: bold;
}

.global-footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}

.footer-logo {
  width: 30px;
}
